.mainBody{
    height: 56px;
    background-color: #FFFFFF;
    box-shadow: 1px 2.99px 7.46px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.img{
    margin-left: 22px;
    width: 82.02px;
    height: 25.35px;
}